/* TODO -- add google fonts  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-family: ''; */
    font-size: 2.6rem;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
    padding: 1rem;
    text-align: center;
}